.flex
    display: flex
    
.title
    position: relative
    background-image: url('../../assets/title.png')
    background-size: contain
    background-repeat: no-repeat
    height:1600px
    width: 100%

.addition
    position: relative
    background-image: url('../../assets/addition.png')
    background-size: contain
    background-repeat: no-repeat
    height:1500px
    width: 100%

.count
    position: relative
    background-image: url('../../assets/count.png')
    background-size: contain
    background-repeat: no-repeat
    height:1610px
    width: 100%

.platon
    position: relative
    background-image: url('../../assets/Platon.png')
    background-size: contain
    background-repeat: no-repeat
    height:500px
    width: 100%


.titleBlock
    position: relative
    top: 200px
    left: 20%
    height: 500px
    width: 500px

.titleName
    position: relative
    margin-left: 27%
    font-family: Lato
    font-size: 47px
    color: #373A4D

.titleText1
    position: relative
    margin-top: 10%
    margin-left: 25%
    height: 96px
    width: 627px
    font-family: "Roboto"
    font-size: 24px
    color: #373A4D

.titleText2
    position: relative
    margin-top: 10%
    margin-left: 25%
    height: 84px
    width: 639px
    font-family: "Roboto"
    font-size: 24px
    color: #373A4D

.titleButton
    position: relative
    margin-top: 15%
    margin-left: 40%
    height: 56px
    width: 328px
    font-family: "Roboto"
    font-size: 20px
    color: #fff
    background-color: #373A4D

.info1,.info2
    position: relative
    margin-top: 10px
    margin-left: 50px
    margin-right: 50px
    font-family: "Roboto"
    font-size: 18px
    font-weight: 600
    color: #000

.additionalInfo1
    position: relative
    margin-top: 15px
    margin-left: 50px
    margin-right: 50px
    font-family: "Roboto"
    font-size: 18px
    font-weight: 600
    color: #A0132C

.additionalInfo2
    position: relative
    margin-top: 15px
    margin-left: 50px
    margin-right: 50px
    font-family: "Roboto"
    font-size: 18px
    font-weight: 500
    color: #000

.additionalInfo3
    position: relative
    margin-top: 15px
    margin-left: 50px
    margin-right: 50px
    font-family: "Roboto"
    font-size: 18px
    font-weight: 600
    text-decoration: underline
    color: #A0132C

.additionalInfo4
    position: relative
    margin-left: 50px
    margin-right: 50px
    font-family: "Roboto"
    font-size: 18px
    font-weight: 600
    color: #000


.detailButton
    position: relative
    margin-top: 10%
    margin-left: 40%
    height: 56px
    width: 328px
    font-family: "Roboto"
    font-size: 18px
    color: #fff
    background-color: #373A4D

.detailButtonClose
    position: relative
    margin-top: 1%
    margin-left: 40%
    height: 56px
    width: 328px
    font-family: "Roboto"
    font-size: 18px
    color: #fff
    background-color: #373A4D

.video
    position: relative
    margin-top: 1%
    margin-left: 10px
    margin-right: 10px

.footer
    display: flex
    position: relative
    margin-top: 5%
    margin-left: 40%

.footerInfo
    position: relative
    font-family: "Roboto"
    font-size: 18px
    font-weight: 500
    color: #000

.phone
    position: relative
    margin-right: 10px
    background-image: url('../../assets/phone.png')
    background-size: contain
    background-repeat: no-repeat
    height:20px
    width: 20px

mat-slider 
    position: relative
    margin-left: 10%
    margin-right: 10%
    width: 80%

::ng-deep .mat-accent .mat-slider-thumb 
    background-color: #FFC600

::ng-deep .mat-accent .mat-slider-thumb-label 
    background-color: #FFC600
 
::ng-deep .mat-accent .mat-slider-track-fill 
    background-color: #FFC600

::ng-deep .mat-slider-wrapper 

  .mat-slider-thumb-container 
    .mat-slider-thumb-label 
        width: 50px
        height: 50px
        top: -62px
        right: -25px