<div  class = "title">
        <div class = "titleName">Кредитний калькулятор</div>
        <div class = "titleText1">Дозволяє легко і швидко розрахувати графік платежів по планованому кредиту або позики, 
            щоб оцінити свої можливості виконати зобов'язання і погасити борг.</div>
        <div class = "titleText2">Знаючи кілька параметрів кредиту / позики, Ви можете підібрати зручні для вас умови.</div>
        <button mat-raised-button color="primary" class ="titleButton" (click)="toCount('count')">Перейти до розрахунку</button>
</div>

<div>
    <div class = "info1">Боржник вважається таким, що прострочив, 
        якщо він не приступив до виконання зобов’язання або не виконав його у строк,
            встановлений договором або законом (ч.1 ст.612 ЦК – Цивільного кодексу України).
    </div>
    <div class = "info2">Отже, для належного виконання зобов’язання необхідно дотримуватись визначених у договорі строків (термінів),
            зокрема щодо сплати процентів, а прострочення виконання зобов’язання є його порушенням.
            Незалежно, чи договір був укладений письмово чи електронно.
    </div>
    <div *ngIf="isDetail == false">
        <button mat-raised-button color="primary" class ="detailButton" (click)="toDetail('detail')">Розглянути більш детально</button>
    </div>
    <div *ngIf="isDetail == true">
        <button mat-raised-button color="primary" class ="detailButton" (click)="toDetailClose()">Згорнути детальну інформацію</button>
    </div>
</div>

<div *ngIf="isDetail == true">
    <div id='detail'>
        <div>
            Коли зобов’язання є простроченим?
        </div>
        <div>
            Боржник вважається таким, що прострочив, якщо він не приступив до виконання зобов’язання або не виконав його у строк,
             встановлений договором або законом (ч.1 ст.612 ЦК – Цивільного кодексу України).
        </div>
        <div>
            Отже, для належного виконання зобов’язання необхідно дотримуватись визначених у договорі строків (термінів),
             зокрема щодо сплати відсотків, а прострочення виконання зобов’язання є його порушенням.
             Незалежно, чи договір був укладений письмово чи електронно.
        </div>
        <br>
        <div>
            Які наслідки порушення?
        </div>
        <div>
            За загальним правилом наслідки порушення можуть бути встановлені договором або законом.
             Зокрема, сплата неустойки (п.3 ч.1 ст.611 ЦК України).
        </div>
        <br>
        <div>
            Неустойка – це грошова сума або інше майно, які боржник повинен передати кредиторові у разі порушення боржником зобов’язання
             (ст. 549 ЦК України). Неустойка може бути двох видів:
        </div>
        <div>
            штраф – неустойка, що обчислюється у відсотках від суми невиконаного або неналежно виконаного зобов’язання;
        </div>
        <div>
            пеня – неустойка, що обчислюється у відсотках від суми несвоєчасно виконаного грошового зобов’язання за кожен день прострочення виконання.
        </div>
        <div>
            Штраф може застосовуватись до будь-якого порушення зобов’язання, а пеня тільки щодо прострочення виконання.
        </div>
        <div>
            Важливо, що розмір неустойки:
        </div>
        <div>
            може бути встановлений законом і збільшений у договорі, якщо таке збільшення не заборонено законом;
        </div>
        <div>
            може бути встановлений законом і зменшений у договорі, якщо таке збільшення не заборонено законом;
        </div>
        <div>
            може бути зменшений за рішенням суду, якщо він значно перевищує розмір збитків, та за наявності інших обставин, які мають істотне значення.
        </div>
        <br>
        <div>
            Проценти на неустойку не нараховуються (ч.2 ст.550 ЦК України)
        </div>
        <br>
        <div>
            Тобто, зобов’язання з надання кредиту, його повернення та сплати процентів є основним, а зобов’язання зі сплати неустойки є додатковим до основного
        </div>
        <div>
            Однак, законодавством обмежений розмір додаткового зобов’язання (неустойки).
        </div>
        <br>
        <div>
            Відповідно до Закону України “Про споживче кредитування”:
        </div>
        <div>
            Розмір пені не може:
        </div>
        <div>
            перевищувати подвійної облікової ставки Національного банку України, що діяла у період, за який сплачується пеня (станом на 22 червня 2021 року  не може перевищувати 15%);
        </div>
        <div>
            та не може бути більшим, ніж 15 відсотків суми простроченого платежу.
        </div>
        <div>
            Деякі договори з метою уникнення обмежень встановлених законом містять положення, про розмір % від суми заборгованості в день, а не від суми простроченого платежу. Це суперечить законодавству.
        </div>
        <br>
        <div>
            Сукупний розмір неустойки: 
        </div>
        <div>
            не може перевищувати половини суми, отриманої споживачем за таким договором (тобто, загального розміру кредиту), і
        </div>
        <div>
            не може бути збільшений за домовленістю сторін (ч. 2 ст. 21 Закону України “Про споживче кредитування”).
        </div>
        <br>
        <div>
            Мікрокредити - це договір про споживчий кредит, загальний розмір кредиту за яким не перевищує розміру однієї мінімальної заробітної плати. 
        </div>
        <br>
        <div>
            Сукупна сума неустойки (штраф, пеня) та інших платежів за договором Мікрокредиту:
        </div>
        <div>
            не може перевищувати розміру подвійної суми, одержаної споживачем за таким договором, і не може бути збільшена за домовленістю сторін;
            <br>
            за порушення виконання споживачем зобов’язань за договором Мікрокредиту, відсоткова ставка за кредитом, порядок її обчислення, порядок сплати процентів не можуть бути змінені у бік погіршення для споживача (ч. 3 ст. 21 Закону України “Про споживче кредитування”).
            <br>
        </div>
        <div>
            Але варто звернути увагу, що дане обмеження по Мікрокредитах стосується лише позик, які оформлені після 8 січня 2021 року, коли набрав чинності Закон № 891-IX, що встановлює максимальну межу штрафів та пені.
        </div>
        <br>
        <div>
            Це означає, що для захисту своїх прав, у випадку нарахування надмірно великого розміру неустойки по Мікрокредитах, що оформлені до 08 січня 2021 року, Вам не вдасться застосувати наведені вище обмеження.
            <br>
            Натомість є можливість визнати розмір неустойки за кредитом (в тому числі Мікрокредитом) несправедливим, якщо розмір є більшим, ніж половина суми, яку Ви отримали у позику.
            <br>
            Пункт 5 ч.3 ст.18 Закону України «Про захист прав споживачів»: несправедливими є умови договору щодо встановлення вимоги щодо сплати споживачем непропорційно великої суми компенсації (понад 50% вартості продукції – суми кредиту) у разі невиконання ним зобов’язань за договором.
            <br>
            Отже, якщо розмір неустойки за Вашим Мікрокредитом є більшим, ніж 50% суми, яку Ви позичили, такий розмір є несправедливим – відтак, може бути оскарженим.
            <br>
        </div>
        <div>
            Корисні ресурси:
        </div>
        <div>
            1)	Українське бюро кредитних історій – дає можливість безкоштовно переглянути Вашу кредитну історію: 
            <br>
            https://www.ubki.ua/credit-history-ua
            <br>
            <br>
            2)	Єдиний реєстр боржників - дає можливість перевірити чи відкрите на Вас виконавче провадження:
            <br>
            https://erb.minjust.gov.ua/#/search-debtors
        </div>
        <button mat-raised-button color="primary" class ="detailButtonClose" (click)="toDetailClose()">Згорнути детальну інформацію</button>
    </div>
</div>

<div *ngIf="isCount == true">
    <div class="video" id ='video'>
        <video width=100% height=100% controls="controls" poster="video/duel.jpg">
            <source src="../../assets/Credit_Rev1.mp4" type="video/mp4" />
            Browser not supported
        </video>
    </div>
    <div  id ='count'>
        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>СУМА ПОЗИКИ(ГРН):</mat-label>
                <input  type="number" [formControl]="summ" [errorStateMatcher]="matcher" matInput >
                <mat-error *ngIf="summ.hasError('required')">
                    <strong>Заповніть поле</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div>
        <div>
            ВИБІР УСТАНОВИ
        </div>
        <div>

        </div>
    </div>
    <div>
        <div>
            
        </div>
        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>СТАВКА РІЧНИХ %</mat-label>
                <input  type="number" [formControl]="rate" [errorStateMatcher]="matcher" matInput >
                <mat-error *ngIf="rate.hasError('required')">
                    <strong>Заповніть поле</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div>
        ТЕРМІН КРЕДИТУВАННЯ
    </div>
    <div>

    </div>
    <div>
        <button mat-raised-button color="primary" class ="detailButtonClose" (click)="toDetailClose()">Розрахувати</button>
    </div>
</div>

