.description
    position: relative
    width: 100%
    text-align: center
    font-family: Lato
    font-size: 40px

.formPost
    position: relative
    width: 100%

.formNameCreditor
    position: relative
    margin-left: 20px
    width: 300px

.slide-toggle
    position: relative
    margin-left: 20px

.buttonDelete
    position: relative
    margin-left: 20px
    font-size: 21px
    width: 150px

.title  
    position: relative
    background-image: url('../../assets/title.png')
    background-position: center center
    background-size: 100%
    background-repeat: no-repeat

::v-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar 
    background-color: #49c5b6


::v-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb 
    background-color: #49c5b6
